html {
  height: 100%;
}

body {
  font-family: 'Cabin', sans-serif;
}

a {
  color: #fff;
}

#root {
  height: 100%;
}

.brand {
  font-family: 'Lobster', cursive;
}

.centered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.timebox {
  background-color: $primary-color;
  color: #fff;
  height: 100%;
  text-align: center;

  &.state-running {
    @include timebox-state(darken($success-color, 10%));
  }

  &.state-done {
    @include timebox-state($alert-color);
  }
}
